<h1>TODOリスト</h1>

<%= form_with model: @list do |form| %>
  <%= form.label :title, "タイトル" %>
  <%= form.text_field :title %>

  <%= form.label :content, "本文" %>
  <%= form.text_area :content %>

  <%= form.submit "保存" %>
<% end %>

<% @lists.each do |list| %>
  <%= list.title %>
  <%= list.content %>
<% end %>